<% include ../includes/header.html %>
<div class="header">
  <a class="logo" href="/"><%= site_title %></a>
</div>
<div class="questions">
  <form class="question">
    <div class="title">
      Lets share some basic information, starting with your
      <strong>name</strong>.
    </div>
    <input class="input" name="name" type="text" required/>
  </form>
   <form class="question">
    <div class="title">
      Hi <span></span>, what is your
      <strong>email</strong>?
    </div>
    <input class="input" name="email" type="email" required/>
  </form>
  </form>
   <form class="question">
    <div class="title">
      And the <strong>password</strong> for the account?
    </div>
    <input class="input" name="password" type="password" required/>
  </form>
  <form class="question">
    <div class="title">
      Great, what's the <strong>home address</strong> we're serving?
    </div>
    <input class="input address" name="address" type="text" required/>
  </form>
  <form class="question">
    <div class="title">
      Awesome! To start your 2 week free trial we need your
      <strong>credit card number</strong>.
    </div>
    <div class="input-image">
      <input class="input credit-card" name="card" type="text" required/>
      <img class="card-type"/>
    </div>
  </form>
  <form class="question">
    <div class="title">
      Now the card's <strong>expiration date (MM/YY)</strong>
    </div>
    <input class="input expiration" name="expiration" type="text" required/>
  </form>
  <form class="question">
    <div class="title">
      And the card's <strong>CVC number</strong>, which is a 3-4
      digit security code found on the back.
    </div>
    <input class="input cvc" name="cvc" type="text" required/>
  </form>
  <form class="question">
    <div class="title">
      Finally, what <strong>day</strong> is your garbage picked up?
    </div>
    <input class="input" type="hidden" name="day" value="null"/>
    <div class="radio-group">
      <input class="radio" type="radio" name="dayR" id="dayMonday" value="Monday"/>
      <label for="dayMonday">Monday</label>
    </div>
    <div class="radio-group">
      <input class="radio" type="radio" name="dayR" id="dayTuesday" value="Tuesday"/>
      <label for="dayTuesday">Tuesday</label>
    </div>
    <div class="radio-group">
      <input class="radio" type="radio" name="dayR" id="dayWednesday" value="Wednesday"/>
       <label for="dayWednesday">Wednesday</label>
    </div>
    <div class="radio-group">
      <input class="radio" type="radio" name="dayR" id="dayThursday" value="Thursday"/>
       <label for="dayThursday">Thursday</label>
    </div>
    <div class="radio-group">
      <input class="radio" type="radio" name="dayR" id="dayFriday" value="Friday"/>
       <label for="dayFriday">Friday</label>
    </div>
    <div class="radio-group">
      <input class="radio" type="radio" name="dayR" id="daySaturday" value="Saturday"/>
       <label for="daySaturday">Saturday</label>
    </div>
    <div class="radio-group">
      <input class="radio" type="radio" name="dayR" id="daySunday" value="Sunday"/>
       <label for="daySunday">Sunday</label>
    </div>
    <div class="radio-group">
      <input class="radio" type="radio" name="dayR" id="dayIDR" value="null" checked/>
       <label for="dayIDR">I don't remember</label>
    </div>
  </form>
  <div class="question finished">
    <img class="thumbs-up" src="/img/icons/thumb.png"/>
    <div class="title">
      Congrats! You’ll be a part of the initial rollout.
      We will email you 1 week before it starts, in March!
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="progress">
      <div class="title">
        Your Progress <span>(0%)</span>
      </div>
      <div class="bar-container">
        <div class="bar"></div>
      </div>
    </div>
    <a href="" class="next">Next</a>
  </div>
</div>
<% include ../includes/footer.html %>
